package layout

templ Layout(title string, description string, metaTags [][2]string) {
	<html>
		<head>
        <title>{title}</title>
        <meta name="description" content={description}/>
        if metaTags != nil {
            for _, item := range metaTags {
                <meta name={item[0]} content={item[1]}/>
            }
        }
        <link rel="stylesheet" href="output.css">
		</head>
		<body class="bg-gray-600">
			{children...}
		</body>
	</html>
}